{% extends 'index_master.html' %}
{% load static %}
{% block content %}
<style>
  /* Estilo base para el select */
  .multi-select-pillbox {
    width: 36em; /* Límite de ancho inicial para pantallas grandes */
    padding: 0.5em; /* Espaciado interno para mejor apariencia */
    box-sizing: border-box; /* Asegura que el padding no desborde el tamaño */
  }
  
  /* Pantallas medianas (menos de 768px) */
  @media (max-width: 768px) {
    .multi-select-pillbox {
      width: 28em; /* Ancho reducido para pantallas medianas */
    }
  }
  
  /* Pantallas pequeñas (menos de 400px) */
  @media (max-width: 400px) {
    .multi-select-pillbox {
      width: 15em; /* Ancho aún más reducido para pantallas pequeñas */
    }
  }

    /* Estilo base para el select */
    .multi-select-pillbox-2 {
    width: 36em; /* Límite de ancho inicial para pantallas grandes */
    padding: 0.5em; /* Espaciado interno para mejor apariencia */
    box-sizing: border-box; /* Asegura que el padding no desborde el tamaño */
  }
  
  /* Pantallas medianas (menos de 768px) */
  @media (max-width: 768px) {
    .multi-select-pillbox-2 {
      width: 28em; /* Ancho reducido para pantallas medianas */
    }
  }
  
  /* Pantallas pequeñas (menos de 400px) */
  @media (max-width: 400px) {
    .multi-select-pillbox-2 {
      width: 15em; /* Ancho aún más reducido para pantallas pequeñas */
    }
  }
  </style>

    <!-- page content -->
        <div class="right_col"  style="background-color:white;"role="main">
          <h1 style="font-size:24px">Seguros</h1>

      <!-- messages -->
          {% if messages %}

          {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger m-2 " role="alert">
              {{ message }}
            </div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-success m-2" role="alert">
              {{ message }}
            </div>
            {% else %}
            <div class="alert alert-primary m-2" role="alert">
              {{ message }}
            </div>
            {% endif %}
          {% endfor %}
  
        {% endif %}

      <!-- messages -->
            <div class="row mb-4 m-0">
              <form class="col-md-12 col-sm-12 m-0 p-0" method="get" action="{% url 'brokers_admin' %}">
              <div class="col-md-12 col-sm-12 m-0 p-0">
            
                <div class="col-md-2 col-sm-4 ">
                  <span class="count_top">País</span>
                  <div class="count">
                    <select name="pais" id="pais" class="form-select form-control-sm col-md-8 col-sm-4" aria-label="Default select example">
                      <option selected value="" >--Seleccione uno--</option>
                      {% for pais in paises %}
                      <option value="{{ pais.id }}" {% if filtros.pais == pais.id|stringformat:"s" %}selected{% endif %}>{{pais.nombre}}</option>
                     {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-md-2 col-sm-4">
                  <span class="count_top" style="visibility: hidden;">Buscar</span>
                  <div class=""><!-- Button trigger modal -->
                    <button type="submit" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                      <i class="fa fa-search"></i>
                      Buscar
                    </button>
                  </div>
                </div>
              </form>
                <div class="col-md-2 col-sm-4">
                  <span class="count_top" style="visibility: hidden;">Nuevo</span>
                  <div class=""><!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#nuevo">
                      <i class="fa fa-plus"></i>
                      Nuevo
                    </button>
                    
                   
                    <!-- Modal creación -->
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="modal fade" id="nuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nuevo seguro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            
                            <div class="mb-5">
                              <span class="count_top">
                                <label for="nuevo_pais" class="form-label">País: </label></span>                              
                              <span class="count_top"></span>
                              <div class="count">
                                
                                <select name="nuevo_pais" class="form-select form-control-sm col-md-12" aria-label="Default select example">
                                
                                {% for pais in paises %}
                                  <option value="{{pais.id}}">{{pais.nombre}}</option>
                                 {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="mb-5">
                              <span class="count_top">
                                <label for="nuevo_matriz" class="form-label">Grupo económico: </label></span>                              
                              <span class="count_top"></span>
                              <div class="count">
                                
                                <select name="nuevo_matriz" class="form-select form-control-sm col-md-12" aria-label="Default select example">
                                
                                {% for matriz in matrices %}
                                  <option value="{{matriz.id}}">{{matriz.nombre}}</option>
                                 {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="mb-5">
                              <span class="count_top">
                                <label for="nuevo_empresa" class="form-label">Empresa: </label></span>                              
                              <span class="count_top"></span>
                              <div class="count">
                                
                                <select name="nuevo_empresa" class="form-select form-control-sm col-md-12" aria-label="Default select example">
                                
                                {% for empresa in empresas %}
                                  <option value="{{empresa.id}}">{{empresa.nombre}}</option>
                                 {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="mb-5">
                              <span class="count_top">
                                <label for="nuevo_broker" class="form-label">Broker: </label></span>                              
                              <span class="count_top"></span>
                              <div class="count">
                                
                                <select name="nuevo_broker" class="form-select form-control-sm col-md-12" aria-label="Default select example">
                                
                                {% for broker in brokers %}
                                  <option value="{{broker.id}}">{{broker.nombre}}</option>
                                 {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="mb-5">
                              <span class="count_top">
                                  <label for="nuevo_moneda" class="form-label">Moneda: </label>
                              </span>
                              <span class="count_top"></span>
                              <div class="count">
                                  <select name="nuevo_moneda" class="form-select form-control-sm col-md-12" aria-label="Default select example">
                                      {% for value, label in MONEDA_CHOICES %}
                                          <option value="{{ value }}">{{ label }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                            </div>
                            <div class="mb-5">
                              <span class="count_top">
                                <label for="nuevo_aseguradora" class="form-label">Aseguradora: </label></span>                              
                              <span class="count_top"></span>
                              <div class="count">
                                
                                <select name="nuevo_aseguradora" class="form-select form-control-sm col-md-12" aria-label="Default select example">
                                
                                {% for aseguradora in aseguradoras %}
                                  <option value="{{aseguradora.id}}">{{aseguradora.nombre}}</option>
                                 {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="mb-5">
                              <span class="count_top">
                                  <label for="nuevo_tipo_seguro" class="form-label">Tipo: </label>
                              </span>
                              <span class="count_top"></span>
                              <div class="count">
                                  <select name="nuevo_tipo_seguro" class="form-select form-control-sm col-md-12" aria-label="Default select example">
                                      {% for value, label in TIPO_CHOICES %}
                                          <option value="{{ value }}">{{ label }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                            </div>
                              <div class="mb-3">
                                <label for="nuevo_nro_poliza" class="form-label">Número de póliza: </label>
                                <input name="nuevo_nro_poliza" type="text" class="form-control" aria-label="Número de póliza" aria-describedby="basic-addon1">
                              </div>

                              <div class="mb-3">
                                <label for="nuevo_vigencia_desde" class="form-label">Vigencia Desde:</label>
                                <input type="date" class="form-control" id="nuevo_vigencia_desde" name="nuevo_vigencia_desde" required>
                              </div>
                              
                              <div class="mb-3">
                                  <label for="nuevo_vigencia_hasta" class="form-label">Vigencia Hasta:</label>
                                  <input type="date" class="form-control" id="nuevo_vigencia_hasta" name="nuevo_vigencia_hasta">
                              </div>

                              </div>
                              
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  </div>
                  
                </div>
                </div>
            </div>
       
            <div class="row">
              <div class="table" style="overflow: auto;">
              
                  <table class="table bg-white rounded shadow-sm">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col">Acciones</th>
                          <th scope="col">País</th>
                          <th scope="col">Grupo económico</th>
                          <th scope="col">Empresa</th>
                          <th scope="col">Broker</th>
                          <th scope="col">Moneda</th>
                          <th scope="col">Aseguradora</th>
                          <th scope="col">Tipo</th>
                          <th scope="col">N° de póliza</th>
                          <th scope="col">Vigencia desde</th>
                          <th scope="col">Vigencia hasta</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for seguro in pages %}
                        
                        <tr>
                          <td>
                            <div class="d-flex align-items-center" style="overflow: auto;">
                              <!-- Botón de Editar -->
                              <button type="button" class="btn btn-link btn-lg p-0 border-0 my-0 mr-2" data-toggle="modal" data-target="#editarModal{{ seguro.id }}">
                                <i class="fa fa-edit"></i>
                              </button>
                          
                              <!-- Modal de edición -->
                              <form method="post" action="{% url 'update_seguro' seguro.id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal fade" id="editarModal{{ seguro.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Editar seguro</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="mb-5">
                                          <div class="form-group">
                                            <label for="pais">País</label>
                                            <select class="form-control" id="editar_pais" name="editar_pais">
                                              {% for pais in paises %}
                                              <option value="{{ pais.id }}" {% if pais.id == seguro.pais.id %}selected{% endif %}>
                                                {{ pais.nombre }}
                                              </option>
                                              {% endfor %}
                                            </select>
                                          </div>
                                          <div class="form-group">
                                            <label for="editar_matriz">Grupo económico</label>
                                            <select class="form-control" id="editar_matriz" name="editar_matriz">
                                              {% for matriz in matrices %}
                                              <option value="{{ matriz.id }}" {% if matriz.id == seguro.matriz.id %}selected{% endif %}>
                                                {{ matriz.nombre }}
                                              </option>
                                              {% endfor %}
                                            </select>
                                          </div>
                                          <div class="form-group">
                                            <label for="editar_empresa">Empresa</label>
                                            <select class="form-control" id="editar_empresa" name="editar_empresa">
                                              {% for empresa in empresas %}
                                              <option value="{{ empresa.id }}" {% if empresa.id == seguro.empresa.id %}selected{% endif %}>
                                                {{ empresa.nombre }}
                                              </option>
                                              {% endfor %}
                                            </select>
                                          </div>
                                          <div class="form-group">
                                            <label for="editar_broker">Broker</label>
                                            <select class="form-control" id="editar_broker" name="editar_broker">
                                              {% for broker in brokers %}
                                              <option value="{{ broker.id }}" {% if broker.id == seguro.broker.id %}selected{% endif %}>
                                                {{ broker.nombre }}
                                              </option>
                                              {% endfor %}
                                            </select>
                                          </div>

                                          <div class="mb-5">
                                            <span class="count_top">
                                                <label for="editar_moneda" class="form-label">Moneda: </label>
                                            </span>
                                            <span class="count_top"></span>
                                            <div class="count">
                                                <select name="editar_moneda" class="form-select form-control-sm col-md-12" aria-label="Default select example">
                                                    {% for value, label in MONEDA_CHOICES %}
                                                        <option value="{{ value }}" {% if value == seguro.moneda %}selected{% endif %}>
                                                          {{ label }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                          </div>
                                          <div class="mb-5">
                                            <span class="count_top">
                                              <label for="editar_aseguradora" class="form-label">Aseguradora: </label></span>                              
                                            <span class="count_top"></span>
                                            <div class="count">
                                              
                                              <select name="editar_aseguradora" class="form-select form-control-sm col-md-12" aria-label="Default select example">
                                              
                                              {% for aseguradora in aseguradoras %}
                                                <option value="{{aseguradora.id}}"  {% if aseguradora.id == seguro.aseguradora.id %}selected{% endif %}>
                                                  {{aseguradora.nombre}}</option>
                                               {% endfor %}
                                              </select>
                                            </div>
                                          </div>
                                          <div class="mb-5">
                                            <span class="count_top">
                                                <label for="editar_tipo_seguro" class="form-label">Tipo: </label>
                                            </span>
                                            <span class="count_top"></span>
                                            <div class="count">
                                                <select name="editar_tipo_seguro" class="form-select form-control-sm col-md-12" aria-label="Default select example">
                                                    {% for value, label in TIPO_CHOICES %}
                                                        <option value="{{ value }}" {% if value == seguro.tipo_seguro %}selected{% endif %}>
                                                        {{ label }}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                          </div>
                                            <div class="mb-3">
                                              <label for="editar_nro_poliza" class="form-label">Número de póliza: </label>
                                              <input name="editar_nro_poliza" type="text" class="form-control" value="{{ seguro.nro_poliza }}" aria-label="Número de póliza" aria-describedby="basic-addon1">
                                            </div>
              
                                            <div class="mb-3">
                                              <label for="editar_vigencia_desde" class="form-label">Vigencia Desde:</label>
                                              <input type="date" class="form-control" id="editar_vigencia_desde" value="{{ seguro.vigencia_desde|date:"Y-m-d" }}" name="editar_vigencia_desde" required>
                                            </div>
                                            
                                            <div class="mb-3">
                                                <label for="editar_vigencia_hasta" class="form-label">Vigencia Hasta:</label>
                                                <input type="date" class="form-control" id="editar_vigencia_hasta " value="{{ seguro.vigencia_hasta|date:"Y-m-d" }}" name="editar_vigencia_hasta">
                                            </div>

                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </form>
                          
                              <!-- Botón de Eliminar -->
                              <button type="submit" class="btn btn-lg btn-link p-0 border-0 m-0 eliminar-elemento confirmar-eliminar" data-url="{% url 'delete_seguro' seguro.id %}">
                                <i class="fa fa-trash-o text-danger"></i>
                              </button>
                            </div>
                          </td>
                          <td>{{ seguro.pais }}</td>
                          <td>{{ seguro.matriz.nombre }}</td>
                          <td>{{ seguro.empresa.nombre }}</td>
                          <td>{{ seguro.broker.nombre }}</td>
                          <td>{{ seguro.moneda }}</td>
                          <td>{{ seguro.aseguradora.nombre }}</td>
                          <td>{{ seguro.tipo_seguro }}</td>
                          <td>{{ seguro.nro_poliza }}</td>
                          <td>{{ seguro.vigencia_desde|date:"d-m-Y" }}</td>
                          <td>{{ seguro.vigencia_hasta|date:"d-m-Y" }}</td>
                          
        

                          
                        </tr>
                       
                    
                        {% endfor %}
                      </tbody>
                  </table>
              </div>  
              <div class="app-table">
              <div class="table-output">
        <tbody id="table-body" class="table-body"> </tbody></div>
            </div>
          </div>
           
          
              <!--
                MOVIMIENTOS
              
              <div class="">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                  <h2> 
                    Flotas
                  </h2>
               
        
              </div>
                
                <div class="list-group overflow-auto" style="max-height: 360px;">
                 
                  {% for movimiento in movimientos %}
                    <div  class="list-group-item">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{movimiento.nombre_movimiento}}</h5>
                        <div>
                          <form method="POST" class="d-inline" action="{% url 'exportar_movimiento' flota.id movimiento.id %}">
                            {% csrf_token %}
                          <button type="submit" class="w-10 btn btn-sm btn-success exportar-excel mx-2">
                            <span class="material-icons-outlined">
                              file_download
                              </span>
                              
                          </button>
                        </form>
                        <form method="POST" class="d-inline eliminar-formulario" action="{% url 'delete_movimiento' flota.id movimiento.id %}" id="eliminarFormulario">
                          {% csrf_token %}
                        <button type="button" class="w-10 btn btn-sm btn-danger eliminar-elemento confirmar-eliminar mx-2" onclick="confirmarEliminar()">
                          <span class="material-icons-outlined">
                            delete
                            </span>
                            
                        </button>
                      </form>
        
                        </div>
                      </div>
                      <p class="mb-1">{{movimiento.tipo_movimiento}}</p>
                      
                      <p class="mb-1">Creación: {{movimiento.created}}</p>
                      
                    </div>
                  {% endfor %}
                  
                </div>
              -->
              </div>
          </div>
        <!-- /page content -->
        <script src="{% static 'js/swal.js' %}"></script>
{% endblock %}
